<h2 class="text-align-center text-4xl font-bold">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" placeholder="Input text" />
          <span
            *ngIf="
              (submitted || registrationForm.get('name')?.touched) &&
              registrationForm.get('name')?.errors?.['required']
            "
            id="nameErrorMessage"
            class="text-danger"
          >
            Name is required.
          </span>
          <span
            *ngIf="
              (submitted || registrationForm.get('name')?.touched) &&
              registrationForm.get('name')?.errors?.['minlength']
            "
            class="text-danger"
          >
            Name should be at least 6 characters.
          </span>
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Input text"
            emailValidator
          />
          <span
            *ngIf="
              (submitted || registrationForm.get('email')?.touched) &&
              registrationForm.get('email')?.errors?.['required']
            "
            id="emailErrorMessage"
            class="text-danger"
          >
            Email is required.
          </span>
          <span
            *ngIf="
              (submitted || registrationForm.get('email')?.touched) &&
              registrationForm.get('email')?.errors?.['email']
            "
            class="text-danger"
          >
            Email is invalid.
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <div class="relative">
            <input
              id="password"
              formControlName="password"
              placeholder="Input text"
              appTogglePassword
              #togglePass="togglePassword"
              [type]="togglePass.type"
              class="pr-10"
            />
            <button
              type="button"
              (click)="togglePass.toggle()"
              class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500"
            >
              <fa-icon size="xs" [icon]="togglePass.isPassword ? eyeIcon : eyeSlashIcon"></fa-icon>
            </button>
          </div>
          <span
            *ngIf="
              (submitted || registrationForm.get('password')?.touched) &&
              registrationForm.get('password')?.errors?.['required']
            "
            id="passwordErrorMessage"
            class="text-danger"
          >
            Password is required.
          </span>
        </div>
      </div>
      <div *ngIf="errorMessage" class="text-danger mb-4">
        {{ errorMessage }}
      </div>
      <div class="form__action">
        <app-button
          type="submit"
          buttonText="Register"
          [disabled]="(loading$ | async) || false"
          (buttonClick)="onSubmit()"
        />
        <div *ngIf="loading$ | async" class="mt-2 text-center">Loading...</div>
      </div>
      <div class="form__text">
        Already have an account?
        <a routerLink="/login" class="no-underline font-bold cursor-pointer">Login</a>
      </div>
    </div>
  </form>
</div>
