<h2 class="text-align-center text-4xl font-bold">Login</h2>
<div class="app-plate">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Input text"
            emailValidator
          />
          <span
            *ngIf="
              (submitted || loginForm.get('email')?.touched) &&
              loginForm.get('email')?.errors?.['required']
            "
            id="emailErrorMessage"
            class="text-danger"
          >
            Email is required.
          </span>
          <span
            *ngIf="
              (submitted || loginForm.get('email')?.touched) &&
              loginForm.get('email')?.errors?.['email']
            "
            class="text-danger"
          >
            Email is invalid.
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <div class="relative">
            <input
              id="password"
              formControlName="password"
              placeholder="Input text"
              appTogglePassword
              #togglePass="togglePassword"
              [type]="togglePass.type"
              class="pr-10"
            />
            <button
              type="button"
              (click)="togglePass.toggle()"
              class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500"
            >
              <fa-icon size="xs" [icon]="togglePass.isPassword ? eyeIcon : eyeSlashIcon"></fa-icon>
            </button>
          </div>
          <span
            *ngIf="
              (submitted || loginForm.get('password')?.touched) &&
              loginForm.get('password')?.errors?.['required']
            "
            id="passwordErrorMessage"
            class="text-danger"
          >
            Password is required.
          </span>
        </div>
      </div>
      <div>
        <div *ngIf="errorMessage" class="text-danger mb-4">
          {{ errorMessage }}
        </div>
        <div class="form__action">
          <app-button
            type="submit"
            buttonText="Login"
            [disabled]="(loading$ | async) || false"
            (buttonClick)="onSubmit()"
          />
          <div *ngIf="loading$ | async" class="mt-2 text-center">Loading...</div>
        </div>
        <div class="form__text">
          If you don't have an account you may
          <a routerLink="/registration" class="no-underline font-bold cursor-pointer">
            Registration
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
