<!-- Replace ::text:: with your code -->

<div *ngIf="isLoading$ | async" class="loading">Loading course information...</div>

<div *ngIf="!(isLoading$ | async)" class="course-detail-container">
  <div class="title">{{ course.title }}</div>
  <div class="course-info">
    <div class="course-info__description">
      {{ course.description }}
    </div>
    <div class="course-info__info">
      <div>
        <b>ID: </b><span class="course-info__info-id">{{ course.id }}</span>
      </div>
      <div>
        <b>Duration: </b
        ><span class="course-info__info-duration">{{ course.duration | duration }}</span>
      </div>
      <div>
        <b>Created: </b
        ><span class="course-info__info-date">{{ course.creationDate | customDate }}</span>
      </div>
      <div>
        <b>Authors: </b><span class="course-info__info-authors">{{ formattedAuthors }}</span>
      </div>
    </div>
  </div>
  <div class="navigation-block">
    <app-button buttonText="Back" (click)="onBackToList()" />
    <app-button *ngIf="isAdmin$ | async" type="submit" buttonText="Edit" (click)="onEditCourse()" />
  </div>
</div>
